{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link URL, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}


<ul id="mega-menu-menu-1" class="mega-menu max-mega-menu mega-menu-horizontal mega-no-js" data-event="hover_intent" data-effect="slide_up" data-effect-speed="200" data-effect-mobile="disabled" data-effect-speed-mobile="0" data-panel-width="body" data-panel-inner-width=".container" data-mobile-force-width="body" data-second-click="go" data-document-click="collapse" data-vertical-behaviour="standard" data-breakpoint="768" data-unbind="true" data-mobile-state="collapse_all" data-mobile-direction="vertical" data-hover-intent-timeout="300" data-hover-intent-interval="100">
  <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-has-children mega-menu-megamenu mega-menu-grid mega-align-bottom-left mega-menu-grid mega-menu-item-149" id="mega-menu-item-149">
    <a class="mega-menu-link" href="https://nestleprofessionalbeverages.com.au/business-solutions/" aria-expanded="false" tabindex="0">Business Solutions <span class="mega-indicator" aria-hidden="true"></span>
    </a>
    <ul class="mega-sub-menu" role='presentation'>
      <li class="mega-menu-row" id="mega-menu-149-0">
        <ul class="mega-sub-menu" style='--columns:12' role='presentation'>
          <li class="mega-menu-column mega-menu-columns-12-of-12 mega-hide-on-desktop" style="--span:12" id="mega-menu-149-0-0">
            <ul class="mega-sub-menu">
              <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-717" id="mega-menu-item-717">
                <a class="mega-menu-link" href="https://nestleprofessionalbeverages.com.au/business-solutions/workplace/">Workplace</a>
              </li>
              <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-716" id="mega-menu-item-716">
                <a class="mega-menu-link" href="https://nestleprofessionalbeverages.com.au/business-solutions/healthcare/">Healthcare</a>
              </li>
              <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-715" id="mega-menu-item-715">
                <a class="mega-menu-link" href="https://nestleprofessionalbeverages.com.au/business-solutions/hotel-travel/">Hotel &amp; Travel</a>
              </li>
              <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-714" id="mega-menu-item-714">
                <a class="mega-menu-link" href="https://nestleprofessionalbeverages.com.au/business-solutions/cafes-clubs-restaurants/">Cafés, clubs, &amp; restaurants</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="mega-menu-row" id="mega-menu-149-1">
        <ul class="mega-sub-menu" style='--columns:12' role='presentation'>
          <li class="mega-menu-column mega-menu-columns-12-of-12 mega-hide-on-mobile" style="--span:12" id="mega-menu-149-1-0">
            <ul class="mega-sub-menu">
              <li class="mega-menu-item mega-menu-item-type-widget widget_custom_html mega-menu-item-custom_html-2" id="mega-menu-item-custom_html-2">
                <div class="textwidget custom-html-widget">
                  <div class="business-solutions-cards grid grid-cols-12 gap-md">
                    <div class="col-span-6 lg:col-span-3">
                      <a href="https://nestleprofessionalbeverages.com.au/business-solutions/workplace/" class="business-solutions-card">
                        <div class="business-solutions-card__image" style="background-image: url('https://nestleprofessionalbeverages.com.au/wp-content/uploads/2024/09/8692488c366a4046e0a0160a461c3f29-scaled.jpeg')"></div>
                        <div class="business-solutions-card__box">
                          <h4>Workplace</h4>
                        </div>
                      </a>
                    </div>
                    <div class="col-span-6 lg:col-span-3">
                      <a href="https://nestleprofessionalbeverages.com.au/business-solutions/healthcare/" class="business-solutions-card">
                        <div class="business-solutions-card__image" style="background-image: url('https://nestleprofessionalbeverages.com.au/wp-content/uploads/2024/09/fdb0e9422d69a394b8ced86c83c2d2d0-scaled.jpeg')"></div>
                        <div class="business-solutions-card__box">
                          <h4>Healthcare</h4>
                        </div>
                      </a>
                    </div>
                    <div class="col-span-6 lg:col-span-3">
                      <a href="https://nestleprofessionalbeverages.com.au/business-solutions/hotel-travel/" class="business-solutions-card">
                        <div class="business-solutions-card__image" style="background-image: url('https://nestleprofessionalbeverages.com.au/wp-content/uploads/2024/09/95864612121bc06663086afb11b00364-scaled.jpeg')"></div>
                        <div class="business-solutions-card__box">
                          <h4>Hotel &amp; Travel</h4>
                        </div>
                      </a>
                    </div>
                    <div class="col-span-6 lg:col-span-3">
                      <a href="https://nestleprofessionalbeverages.com.au/business-solutions/cafes-clubs-restaurants/" class="business-solutions-card">
                        <div class="business-solutions-card__image" style="background-image: url('https://nestleprofessionalbeverages.com.au/wp-content/uploads/2024/09/858efe9e667c97eee59c1020c46b0351-scaled.jpeg')"></div>
                        <div class="business-solutions-card__box">
                          <h4>Cafés, clubs, &amp; restaurants</h4>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-has-children mega-menu-megamenu mega-menu-grid mega-align-bottom-left mega-menu-grid mega-menu-item-148" id="mega-menu-item-148">
    <a class="mega-menu-link" href="https://nestleprofessionalbeverages.com.au/our-brands/" aria-expanded="false" tabindex="0">Our Brands <span class="mega-indicator" aria-hidden="true"></span>
    </a>
    <ul class="mega-sub-menu" role='presentation'>
      <li class="mega-menu-row" id="mega-menu-148-0">
        <ul class="mega-sub-menu" style='--columns:12' role='presentation'>
          <li class="mega-menu-column mega-menu-columns-12-of-12 mega-hide-on-desktop" style="--span:12" id="mega-menu-148-0-0">
            <ul class="mega-sub-menu">
              <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-720" id="mega-menu-item-720">
                <a class="mega-menu-link" href="https://nestleprofessionalbeverages.com.au/our-brands/nescafe/">Nescafé</a>
              </li>
              <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-719" id="mega-menu-item-719">
                <a class="mega-menu-link" href="https://nestleprofessionalbeverages.com.au/our-brands/we-proudly-serve-starbucks/">We proudly serve Starbucks®</a>
              </li>
              <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-718" id="mega-menu-item-718">
                <a class="mega-menu-link" href="https://nestleprofessionalbeverages.com.au/our-brands/buondi/">Buondi</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="mega-menu-row" id="mega-menu-148-1">
        <ul class="mega-sub-menu" style='--columns:12' role='presentation'>
          <li class="mega-menu-column mega-menu-columns-12-of-12 mega-hide-on-mobile" style="--span:12" id="mega-menu-148-1-0">
            <ul class="mega-sub-menu">
              <li class="mega-menu-item mega-menu-item-type-widget widget_custom_html mega-menu-item-custom_html-3" id="mega-menu-item-custom_html-3">
                <div class="textwidget custom-html-widget">
                  <div class="brands-cards grid grid-cols-12 gap-md">
                    <div class=" col-span-12 lg:col-span-4">
                      <a href="/our-brands/nescafe/" class="brands-card">
                        <div class="brands-card__box">
                          <div class="brands-card__image" style="background-image: url('/wp-content/uploads/2024/10/brand-nescafe.png')"></div>
                          <div class="brands-card__content">
                            <img src="/wp-content/uploads/2024/09/nescafe-logo.png" class="brands-card__logo">
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class=" col-span-12 lg:col-span-4">
                      <a href="/our-brands/we-proudly-serve-starbucks/" class="brands-card">
                        <div class="brands-card__box">
                          <div class="brands-card__image" style="background-image: url('/wp-content/uploads/2024/10/brand-starbucks-1.png')"></div>
                          <div class="brands-card__content">
                            <img src="/wp-content/uploads/2024/09/starbucks-logo.png" class="brands-card__logo">
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class=" col-span-12 lg:col-span-4">
                      <a href="/our-brands/buondi/" class="brands-card">
                        <div class="brands-card__box">
                          <div class="brands-card__image" style="background-image: url('/wp-content/uploads/2024/10/brand-buondi-1.png')"></div>
                          <div class="brands-card__content">
                            <img src="/wp-content/uploads/2024/09/buondi-logo.png" class="brands-card__logo">
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-has-children mega-menu-megamenu mega-menu-grid mega-align-bottom-left mega-menu-grid mega-menu-item-701" id="mega-menu-item-701">
    <a class="mega-menu-link" href="https://nestleprofessionalbeverages.com.au/commercial-coffee-machines-barista-equipment/" aria-expanded="false" tabindex="0">Our Products <span class="mega-indicator" aria-hidden="true"></span>
    </a>
    <ul class="mega-sub-menu" role='presentation'>
      <li class="mega-menu-row" id="mega-menu-701-0">
        <ul class="mega-sub-menu" style='--columns:12' role='presentation'>
          <li class="mega-menu-column mega-menu-columns-12-of-12 mega-hide-on-desktop" style="--span:12" id="mega-menu-701-0-0">
            <ul class="mega-sub-menu">
              <li class="mega-menu-item mega-menu-item-type-taxonomy mega-menu-item-object-product_cat mega-menu-item-has-children mega-has-description mega-menu-item-723" id="mega-menu-item-723">
                <a class="mega-menu-link" href="https://nestleprofessionalbeverages.com.au/our-products/automatic-coffee-machines/">
                  <span class="mega-description-group">
                    <span class="mega-menu-title">Automatic Coffee Machines</span>
                    <span class="mega-menu-description">Perfect for bustling environments like cafes, hotels, healthcare facilities, and corporate offices, our coffee machines and solutions are designed to keep both staff and customers happy, energised and focused. No matter your industry, Nestlé Professional Beverages offers coffee solutions that enhance every space.</span>
                  </span>
                  <span class="mega-indicator" aria-hidden="true"></span>
                </a>
                <ul class="mega-sub-menu">
                  <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-product mega-menu-item-725" id="mega-menu-item-725">
                    <a class="mega-menu-link" href="https://nestleprofessionalbeverages.com.au/commercial-coffee-machines-barista-equipment/automatic-coffee-machines/fusion-ftp30-coffee-machine/">FUSION FTP30 Coffee Machine</a>
                  </li>
                  <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-product mega-menu-item-726" id="mega-menu-item-726">
                    <a class="mega-menu-link" href="https://nestleprofessionalbeverages.com.au/commercial-coffee-machines-barista-equipment/automatic-coffee-machines/fusion-ftp60-coffee-machine/">FUSION FTP60 Coffee Machine</a>
                  </li>
                  <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-product mega-menu-item-724" id="mega-menu-item-724">
                    <a class="mega-menu-link" href="https://nestleprofessionalbeverages.com.au/commercial-coffee-machines-barista-equipment/automatic-coffee-machines/fusion-ftp120-coffee-machine/">FUSION FTP120 Coffee Machine</a>
                  </li>
                  <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-product mega-menu-item-727" id="mega-menu-item-727">
                    <a class="mega-menu-link" href="https://nestleprofessionalbeverages.com.au/commercial-coffee-machines-barista-equipment/automatic-coffee-machines/fusion-fts60-coffee-machine/">FUSION FTS60 Coffee Machine</a>
                  </li>
                  <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-product mega-menu-item-728" id="mega-menu-item-728">
                    <a class="mega-menu-link" href="https://nestleprofessionalbeverages.com.au/commercial-coffee-machines-barista-equipment/automatic-coffee-machines/fusion-fts60e-coffee-machine/">FUSION FTS60E Coffee Machine</a>
                  </li>
                  <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-product mega-menu-item-729" id="mega-menu-item-729">
                    <a class="mega-menu-link" href="https://nestleprofessionalbeverages.com.au/commercial-coffee-machines-barista-equipment/automatic-coffee-machines/fusion-fts30e-coffee-machine/">FUSION FTS30E Coffee Machine</a>
                  </li>
                  <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-product mega-menu-item-730" id="mega-menu-item-730">
                    <a class="mega-menu-link" href="https://nestleprofessionalbeverages.com.au/commercial-coffee-machines-barista-equipment/automatic-coffee-machines/fusion-ipilot-e2s-coffee-machine/">FUSION iPilot E2S Coffee Machine</a>
                  </li>
                </ul>
              </li>
              <li class="mega-menu-item mega-menu-item-type-taxonomy mega-menu-item-object-product_cat mega-menu-item-722" id="mega-menu-item-722">
                <a class="mega-menu-link" href="https://nestleprofessionalbeverages.com.au/our-products/barista-equipment/">Barista Equipment</a>
              </li>
              <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-721" id="mega-menu-item-721">
                <a class="mega-menu-link" href="https://nestleprofessionalbeverages.com.au/our-coffee-and-products/">Our Coffee and Products</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="mega-menu-row" id="mega-menu-701-1">
        <ul class="mega-sub-menu" style='--columns:12' role='presentation'>
          <li class="mega-menu-column mega-menu-products-left mega-menu-columns-4-of-12 mega-hide-on-mobile menu-products-left" style="--span:4" id="mega-menu-701-1-0">
            <ul class="mega-sub-menu">
              <li class="mega-menu-item mega-menu-item-type-widget widget_custom_html mega-menu-item-custom_html-4" id="mega-menu-item-custom_html-4">
                <div class="textwidget custom-html-widget">
                  <div class="menu-our-products__block">
                    <a href="/our-products/barista-equipment/" class="content-grid__item">
                      <div class="content-grid__image" style="background-image: url('/wp-content/uploads/2024/10/barista-equipment.jpeg')"></div>
                      <div class="content-grid__box">
                        <h3>Barista Equipment</h3>
                      </div>
                    </a>
                  </div>
                  <div class="menu-our-products__block">
                    <a href="/our-coffee-and-products/" class="content-grid__item">
                      <div class="content-grid__image" style="background-image: url('/wp-content/uploads/2024/09/cafe-image-2.png');"></div>
                      <div class="content-grid__box">
                        <h3>Our Coffee and Products</h3>
                      </div>
                    </a>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li class="mega-menu-column mega-menu-products-right mega-menu-columns-8-of-12 mega-hide-on-mobile menu-products-right" style="--span:8" id="mega-menu-701-1-1">
            <ul class="mega-sub-menu">
              <li class="mega-menu-item mega-menu-item-type-widget widget_custom_html mega-menu-item-custom_html-5" id="mega-menu-item-custom_html-5">
                <div class="textwidget custom-html-widget">
                  <div class="menu-our-products-right__block">
                    <div class="menu-our-products-right__block top-row">
                      <h3>Our Coffee Machines</h3>
                      <a href="/our-products/automatic-coffee-machines/" class="button button--link ">View all Coffee Machines</a>
                    </div>
                    <div class="row">
                      <div class="col-8">
                        <h6> Soluble </h6>
                        <div class="row">
                          <div class="col-6 product-list-left">
                            <ul>
                              <li>
                                <a href="/commercial-coffee-machines-barista-equipment/automatic-coffee-machines/fusion-ftp30-coffee-machine/">
                                  <img src="/wp-content/uploads/2024/09/FUSION-FTP30.png" /> FUSION FTP30 Coffee Machine </a>
                              </li>
                              <li>
                                <a href="/commercial-coffee-machines-barista-equipment/automatic-coffee-machines/fusion-ftp60-coffee-machine/">
                                  <img src="/wp-content/uploads/2024/09/FUSION-FTP60.png" /> FUSION FTP60 Coffee Machine </a>
                              </li>
                              <li>
                                <a href="/commercial-coffee-machines-barista-equipment/automatic-coffee-machines/fusion-ftp120-coffee-machine/">
                                  <img src="/wp-content/uploads/2024/09/FUSION-FTP120.png" /> FUSION FTP120 Coffee Machine </a>
                              </li>
                            </ul>
                          </div>
                          <div class="col-6 product-list-left">
                            <ul>
                              <li>
                                <a href="/commercial-coffee-machines-barista-equipment/automatic-coffee-machines/fusion-fts60-coffee-machine/">
                                  <img src="/wp-content/uploads/2024/09/FUSION_FTS60.png" /> FUSION FTS60 Coffee Machine </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <h6> ROAST & GROUND </h6>
                        <ul>
                          <li>
                            <a href="/commercial-coffee-machines-barista-equipment/automatic-coffee-machines/fusion-fts60e-coffee-machine/">
                              <img src="/wp-content/uploads/2024/10/FUSION-FTS60E.png" /> FUSION FTS60E Coffee Machine </a>
                          </li>
                          <li>
                            <a href="/commercial-coffee-machines-barista-equipment/automatic-coffee-machines/fusion-fts30e-coffee-machine/">
                              <img src="/wp-content/uploads/2024/09/FUSION-FTS30e.png" /> FUSION FTS30E Coffee Machine </a>
                          </li>
                          <li>
                            <a href="/commercial-coffee-machines-barista-equipment/automatic-coffee-machines/fusion-ipilot-e2s-coffee-machine/">
                              <img src="/wp-content/uploads/2024/09/FUSION-iPilot-E2S.png" /> FUSION iPilot E2S Coffee Machine </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout mega-hide-on-desktop mega-menu-item-751" id="mega-menu-item-751">
    <a class="mega-menu-link" href="https://nestleprofessionalbeverages.com.au/sustainability/" tabindex="0">Sustainability</a>
  </li>
  <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout mega-hide-on-desktop mega-menu-item-753" id="mega-menu-item-753">
    <a class="mega-menu-link" href="https://nestleprofessionalbeverages.com.au/support/" tabindex="0">Support</a>
  </li>
  <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout mega-hide-on-desktop mega-menu-item-752" id="mega-menu-item-752">
    <a class="mega-menu-link" href="https://nestleprofessionalbeverages.com.au/enquire-now/" tabindex="0">Enquire Now</a>
  </li>
</ul>