/* nav.tabs ul.tabs__nav > li.nav-item .nav-link {
    color: #000000;
} */

nav.tabs {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #ffffff;
    box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.3);
    height: auto;
    transition: 0.2s ease;
    width: 200px;
    z-index: 999999;
}
.user-login-form{
    max-width: 400px;
        margin: 80px 0;
        display: flex;
        flex-flow: column;
        box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        padding: 20px;
        align-items: center;
        justify-content: center;
}
.js-form-item{
        margin: 80px 0;
        margin-bottom: 80px !important;
        text-align: center;
}
nav.tabs .tabs__nav {
    display: flex;
    justify-content: space-around;
    flex-flow: column;
}
nav .nav-item {
    padding: 10px 10px;
    color: #0047BA;
    transition: 0.2s ease;
}
nav .nav-item:hover{
    background-color: #0047BA;
    color: #ffffff;
}
.block-system-main-block .content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-pass{
    max-width: 400px;
    margin: 80px 0;
    display: flex;
    flex-flow: column;
   box-shadow:  0px 2px 6px 1px rgba(0,0,0,0.3);
   border-radius: 10px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}
.form-control{
    border-radius: unset;
    border: 1px solid #0047BA;
}
.button.btn.form-control{
    width: 100%;
}
form .form-actions.form-wrapper{
    align-self: unset;
    width: 100%;
}