/* nav.tabs ul.tabs__nav > li.nav-item .nav-link {
    color: #000000;
} */
.tabs {
    position: relative;
    display: inline-block;
}
nav.tabs {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: #ffffff;
    box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.3);
    border-radius: 50%;
    height: auto;
    transition: 0.2s ease;
    z-index: 999999;
}
.user-login-form{
    max-width: 400px;
        margin: 80px 0;
        display: flex;
        flex-flow: column;
        box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        padding: 20px;
        align-items: center;
        justify-content: center;
}
.js-form-item{
        margin: 80px 0;
        margin-bottom: 80px !important;
        text-align: center;
}
nav .nav-item {
    padding: 10px 10px;
    color: #0047BA;
    transition: 0.2s ease;
}
nav .nav-item:hover{
    background-color: #0047BA;
    color: #ffffff;
}
.block-system-main-block .content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-pass{
    max-width: 400px;
    margin: 80px 0;
    display: flex;
    flex-flow: column;
   box-shadow:  0px 2px 6px 1px rgba(0,0,0,0.3);
   border-radius: 10px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}
.form-control{
    border-radius: unset;
    border: 1px solid #0047BA;
}
.button.btn.form-control{
    width: 100%;
}
form .form-actions.form-wrapper{
    align-self: unset;
    width: 100%;
}
.local-action-ucdavis {
    position: relative;
    display: inline-block;
}
.tabs__nav {
    display: none;
    position: absolute;
    top: 45px;
    left: 0;
    min-width: 140px;
    background: #fff;
    border: 1px solid #ddd;
    z-index: 10;
    opacity: 0;
    transform: translateY(-5px);
    transition: all 0.2s ease;
}

.tabs__nav .nav-link {
    display: block;
}
.local-action-ucdavis::before {
    content: "";
    display: inline-block;
    width: 28px;
    height: 28px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%23000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' viewBox='0 0 24 24'%3E%3Cpath d='M12 20h9M16.5 3.5a2.121 2.121 0 013 3L7 19l-4 1 1-4L16.5 3.5z'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    margin: 10px;
    transition: 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabs:hover .tabs__nav {
    display: block;
    opacity: 1;
    transform: translateY(0);
}